<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>应用列表</title>

</head>
<body>

<div class="app-list">
    <ul>
        <li th:each="app : ${appList}">
            <a href="#" class="item">
                <div>
                    <label>客户端ID</label>
                    <p th:text="${app.clientId}"></p>
                    <label>客户端秘钥</label>
                    <p th:text="${app.clientSecret}"></p>
                </div>
            </a>
        </li>
    </ul>
</div>

</body>
</html>